/********************************
* Annotation
********************************/

.classification-annotation{
    background-color: #3d6582 !important;
    color: #aaaaaa;
    border-radius: 5px;
    margin: 1em;
    padding-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.collapsor {
    cursor: pointer;
}

.collapsor:hover {
    color: white;
}

.collapsor hr {
    width: 95%;
    border-color: #aaaaaa;
}

.highlighted-hr {
    border: #fff;
}

.soft-text {
    font-size: 14px;
    font-style: italic;
}

.multilabel-string-item-wrapper {
    display: grid;
    grid-template: [row1-start] "checkboxZone labelZone" 1fr [row1-end]
                   [row2-start] ". inputZone" 1fr [row2-end]
                   / 1fr 9fr;
    padding: 10px;
}

.multilabel-string-checkbox-container {
    grid-area: checkboxZone;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.multilabel-string-label {
    grid-area: labelZone;
}

.multilabel-string-input {
    grid-area: inputZone;
}

.checkbox {
    margin-left: 1em;
    padding-bottom: 10px;
}

.annotation-header {
    color: #aaaaaa;
}

.bold-label {
  color: #fff;
}



/********************************
* Info button
********************************/
.single-annotation-header {
  display: grid;
  grid-template: [row1-start] "name-zone . info-button-zone" [row1-end]
                 / 4.5fr 1fr 4.5fr
}

.info-button-container {
    grid-area: info-button-zone;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-button {
    margin-right: 10px;
    border-style: hidden;
    border-radius: 1px;
    cursor: pointer;
    height: 60%;
    width: 30%;
    overflow: hidden;
}

.info-button:hover {
    width: 50%;

}

.info-button:active {
    transition: 0s;
    color:white;
    background-color: inherit;
    box-shadow: 0px 0px 10px #a1c45c;
}

.text-container {
    padding: 10px;
}
