/*******************************************************************************
********************************************************************************
* GENERAL
********************************************************************************
*******************************************************************************/

html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;

    font-family: CoreSansNR35Light;
    font-size: 16px;

}

input{
    font-family: CoreSansNR35Light;
    font-size: 16px;
    outline:none;
    border:0;
    transition: 0.2s;
}
input:hover{
    background-color: #ffff8e;
}
input:focus {
  background-color: #ffff00;
}

*:focus {
    outline: none;
}

button{
    font-family: CoreSansNR35Light;
    transition: 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: #a1c45c;
    cursor: pointer;
}

.sticky{
    position:sticky;

    top:0;
    height: auto;
    /*width: 100%;*/
    margin: 0.5em;
    margin-left: 1em;
    background-color: inherit;

    font-family: Montserrat-Bold, CoreSansNR65Bold, Helvetica, Arial, sans-serif;
}

.space{
    margin: 3%;
}


.bold-text {
    color: white;
    font-weight:bold;
    margin: 0;
}

.white-text {
    color: white;
}

.warning-button{
    background-color: red;
    color: white;
}

.warning-button:hover {
    border: 3px solid red;
    background-color: inherit;
}

.warning-button:active {
    transition: 0s;
    border: 0px solid red;
    background-color: white;
    color:red;
}







/*******************************************************************************
********************************************************************************
* LAYOUT SPECIFIC
********************************************************************************
*******************************************************************************/
.header{
    background-color: #ffffff;
    display: flex;
    align-items:center;
}

.logo{
    /* margin: 0.6em 1em; */
    padding: 10px;
    /* height: calc(100% - 1.em); */
    height: 80%;
}
.copyright {
    font-size: .6875em;
    line-height: 4.7272727273em;
    color: #4a4f54;
    margin-left: 20px;
}
.foot-bar {
    background-color: #0e181e;
}

/* EOF */
