#login-view {
    text-align:center;
    background-color:#f1f1f3;
}

.login_block {
    display:inline-block;
    width:30%;
    background-color:white;
    margin-bottom:10%;
    margin-top:10%;
    font-family:CoreSansNR35Light;
    color:#888;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 9px 20px 1px rgba(0,0,0,0.2);
}

.login_block h1 {
    font-family: "Asap";
    color: black;
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    margin-bottom: 17px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    font-size: 13px
}

.login_logo {
    width: 5em;
    margin-top: 1em;
    margin-left:1.3em;
}

.login_form {
    display:grid;
    padding:10%;
    padding-top:5%;
}

.login_input {
    color:grey;
    text-align:center;
    font-size:20px;
    line-height:1.7em;
    margin-bottom:2%;
    border:1px solid #e6e6e6;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.admin_input {
    color:grey;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.7em;
    margin-bottom: 2%;
    border: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: montserrat;
    background-color:white;
    cursor: default;
}
.admin_input:hover, .admin_input:focus {
    background-color:white !important;
}

.password_input {
    color:grey;
    text-align:center;
    font-size:20px;
    line-height:1.7em;
    margin-bottom:8%;
    border:1px solid #e6e6e6;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.login_button {
    font-family:CoreSansNR35Light;
    padding:4%;
    background-color:rgba(0,0,0,0.02);
    width:30%;
    margin-right:auto;
    margin-left:auto;
    border:1px solid rgba(0,0,0,0.2);
}

.users-view {
    background-color:#f1f1f3
}

.user-admin {
    color:#ff000082
}
.user-annt {
    color:#7dbbed;
}

.btn-tn {
    font-size:13px;
    padding: 0px 17px;
    line-height: 25px;
    margin: 0;
    box-shadow: none
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
{
    color:grey;
    text-align:center;
    font-size:20px;
    line-height:1.7em;
    margin-bottom:2%;
    border:1px solid #e6e6e6;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}