__pycache__
.DS_Store
labelled_data.json
.idea
GOLD*
John.json
/lib
pyvenv.cfg
.gitattributes
.gitattributes
db/
configdb
web/github
web/github.pub
web/server/LIDA_ANNOTATIONS/
gunicorn_logs.txt
web/server/error.log
.vscode/launch.json
matilda.log
web/server/matilda.log
